/* F12 개발자 도구로 작성. 원본 파일을 정확하게 표현한 것이 아닐 수도 있습니다. */
div.olMap {
	margin: 0px !important; padding: 0px !important; z-index: 0; cursor: default;
}
div.olMapViewport {
	text-align: left; -ms-touch-action: none;
}
div.olLayerDiv {
	-moz-user-select: none; -khtml-user-select: none;
}
.olLayerGoogleCopyright {
	left: 2px; bottom: 2px;
}
.olLayerGoogleCopyright.olLayerGoogleV3 {
	right: auto !important;
}
.olLayerGooglePoweredBy {
	left: 2px; bottom: 15px;
}
.olLayerGooglePoweredBy.olLayerGoogleV3 {
	bottom: 15px !important;
}
.olForeignContainer {
	opacity: 1 !important;
}
.olControlAttribution {
	right: 3px; bottom: 0.5em; font-size: smaller; display: block; position: absolute;
}
.olControlScale {
	right: 3px; bottom: 3em; font-size: smaller; display: block; position: absolute;
}
.olControlScaleLine {
	left: 10px; bottom: 15px; font-size: xx-small; display: block; position: absolute;
}
.olControlScaleLineBottom {
	border-width: 2px 2px medium; border-style: solid solid none; border-color: black black currentColor; text-align: center; margin-top: -2px;
}
.olControlScaleLineTop {
	border-width: medium 2px 2px; border-style: none solid solid; border-color: currentColor black black; text-align: center;
}
.olControlPermalink {
	right: 3px; bottom: 1.5em; font-size: smaller; display: block; position: absolute;
}
div.olControlMousePosition {
	right: 3px; bottom: 0px; font-family: Arial; font-size: smaller; display: block; position: absolute;
}
.olControlOverviewMapContainer {
	right: 0px; bottom: 0px; position: absolute;
}
.olControlOverviewMapElement {
	padding: 10px 18px 10px 10px; background-color: rgb(0, 0, 139); -moz-border-radius: 1em 0 0 0;
}
.olControlOverviewMapMinimizeButton {
	width: 18px; height: 18px; right: 0px; bottom: 80px; cursor: pointer;
}
.olControlOverviewMapMaximizeButton {
	width: 18px; height: 18px; right: 0px; bottom: 80px; cursor: pointer;
}
.olControlOverviewMapExtentRectangle {
	border: 2px dotted red; overflow: hidden; cursor: move; background-image: url("img/blank.gif");
}
.olControlOverviewMapRectReplacement {
	background-position: center; overflow: hidden; cursor: move; background-image: url("img/overview_replacement.gif"); background-repeat: no-repeat;
}
.olLayerGeoRSSDescription {
	width: 100%; overflow: auto; font-size: 1em; float: left;
}
.olLayerGeoRSSClose {
	color: gray; font-family: sans-serif; font-size: 1.2em; margin-right: 6px; float: right;
}
.olLayerGeoRSSTitle {
	font-size: 1.2em; float: left;
}
.olPopupContent {
	padding: 5px; overflow: auto;
}
.olControlNavigationHistory {
	width: 24px; height: 24px; background-image: url("img/navigation_history.png"); background-repeat: no-repeat;
}
.olControlNavigationHistoryPreviousItemActive {
	
}
.olControlNavigationHistoryPreviousItemInactive {
	background-position: 0px -24px;
}
.olControlNavigationHistoryNextItemActive {
	background-position: -24px 0px;
}
.olControlNavigationHistoryNextItemInactive {
	background-position: -24px -24px;
}
div.olControlSaveFeaturesItemActive {
	background-position: 0px 1px; background-image: url("img/save_features_on.png"); background-repeat: no-repeat;
}
div.olControlSaveFeaturesItemInactive {
	background-position: 0px 1px; background-image: url("img/save_features_off.png"); background-repeat: no-repeat;
}
.olHandlerBoxZoomBox {
	border: 2px solid red; font-size: 1px; position: absolute; opacity: 0.5; background-color: white;
}
.olHandlerBoxSelectFeature {
	border: 2px solid blue; font-size: 1px; position: absolute; opacity: 0.5; background-color: white;
}
.olControlPanPanel {
	left: 5px; top: 10px;
}
.olControlPanPanel div {
	width: 18px; height: 18px; position: absolute; cursor: pointer; background-image: url("img/pan-panel.png");
}
.olControlPanPanel .olControlPanNorthItemInactive {
	left: 9px; top: 0px;
}
.olControlPanPanel .olControlPanSouthItemInactive {
	background-position: 18px 0px; left: 9px; top: 36px;
}
.olControlPanPanel .olControlPanWestItemInactive {
	background-position: 0px 18px; left: 0px; top: 18px; position: absolute;
}
.olControlPanPanel .olControlPanEastItemInactive {
	background-position: 18px 18px; left: 18px; top: 18px;
}
.olControlZoomPanel {
	left: 14px; top: 71px;
}
.olControlZoomPanel div {
	width: 18px; height: 18px; position: absolute; cursor: pointer; background-image: url("img/zoom-panel.png");
}
.olControlZoomPanel .olControlZoomInItemInactive {
	left: 0px; top: 0px;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
	background-position: 0px -18px; left: 0px; top: 18px;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
	background-position: 0px 18px; left: 0px; top: 36px;
}
.olControlPanZoomBar div {
	font-size: 1px;
}
.olPopupCloseBox {
	background: url("/niis/images/close.gif") no-repeat; cursor: pointer;
}
.olFramedCloudPopupContent {
	padding: 5px; overflow: auto;
}
.olControlNoSelect {
	-moz-user-select: none; -khtml-user-select: none;
}
.olImageLoadError {
	opacity: 0.5; background-color: pink;
}
.olCursorWait {
	cursor: wait;
}
.olDragDown {
	cursor: move;
}
.olDrawBox {
	cursor: crosshair;
}
.olControlDragFeatureOver {
	cursor: move;
}
.olDragDown.olControlDragFeatureOver.olControlDragFeatureActive {
	
}
.olControlLayerSwitcher {
	top: 25px; width: 20em; right: 0px; color: white; font-family: sans-serif; font-size: smaller; font-weight: bold; margin-top: 3px; margin-bottom: 3px; margin-left: 3px; position: absolute; background-color: transparent;
}
.olControlLayerSwitcher .layersDiv {
	padding: 5px 10px; background-color: darkblue;
}
.olControlLayerSwitcher .layersDiv .baseLbl {
	margin-top: 3px; margin-bottom: 3px; margin-left: 3px;
}
.olControlLayerSwitcher .layersDiv .dataLbl {
	margin-top: 3px; margin-bottom: 3px; margin-left: 3px;
}
.olControlLayerSwitcher .layersDiv .baseLayersDiv {
	padding-left: 10px;
}
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
	padding-left: 10px;
}
.olControlLayerSwitcher .maximizeDiv {
	top: 5px; width: 18px; height: 18px; right: 0px; cursor: pointer;
}
.olControlLayerSwitcher .minimizeDiv {
	top: 5px; width: 18px; height: 18px; right: 0px; cursor: pointer;
}
.olBingAttribution {
	color: rgb(221, 221, 221);
}
.road.olBingAttribution {
	color: rgb(51, 51, 51);
}
.hybrid.olGoogleAttribution {
	color: rgb(238, 238, 238);
}
.satellite.olGoogleAttribution {
	color: rgb(238, 238, 238);
}
.olGoogleAttribution {
	color: rgb(51, 51, 51);
}
span.olGoogleAttribution a {
	color: rgb(119, 119, 204);
}
span.hybrid.olGoogleAttribution a {
	color: rgb(238, 238, 238);
}
span.satellite.olGoogleAttribution a {
	color: rgb(238, 238, 238);
}
.olControlNavToolbar {
	margin: 5px 5px 0px 0px;
}
.olControlEditingToolbar {
	margin: 5px 5px 0px 0px;
}
.olControlNavToolbar div {
	margin: 0px 0px 5px 5px; width: 24px; height: 22px; cursor: pointer; background-image: url("img/editing_tool_bar.png"); background-repeat: no-repeat;
}
.olControlEditingToolbar div {
	margin: 0px 0px 5px 5px; width: 24px; height: 22px; cursor: pointer; background-image: url("img/editing_tool_bar.png"); background-repeat: no-repeat;
}
.olControlEditingToolbar {
	top: 0px; right: 0px;
}
.olControlNavToolbar {
	left: 9px; top: 295px;
}
.olControlEditingToolbar div {
	float: right;
}
.olControlNavToolbar .olControlNavigationItemInactive {
	background-position: -103px -1px;
}
.olControlEditingToolbar .olControlNavigationItemInactive {
	background-position: -103px -1px;
}
.olControlNavToolbar .olControlNavigationItemActive {
	background-position: -103px -24px;
}
.olControlEditingToolbar .olControlNavigationItemActive {
	background-position: -103px -24px;
}
.olControlNavToolbar .olControlZoomBoxItemInactive {
	background-position: -128px -1px;
}
.olControlNavToolbar .olControlZoomBoxItemActive {
	background-position: -128px -24px;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
	background-position: -77px -1px;
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
	background-position: -77px -24px;
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive {
	background-position: -51px -1px;
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive {
	background-position: -51px -24px;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive {
	background-position: -26px -1px;
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
	background-position: -26px -24px;
}
div.olControlZoom {
	background: rgba(255, 255, 255, 0.4); padding: 2px; border-radius: 4px; left: 8px; top: 8px; position: absolute;
}
div.olControlZoom a {
	background: rgba(0, 60, 136, 0.5); margin: 1px; padding: 0px; width: 22px; height: 22px; text-align: center; color: white; line-height: 19px; font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; text-decoration: none; display: block;
}
div.olControlZoom a:hover {
	background: rgba(0, 60, 136, 0.7);
}
@media only screen and (max-width:600px)
{
div.olControlZoom a:hover {
	background: rgba(0, 60, 136, 0.5);
}
}
a.olControlZoomIn {
	border-radius: 4px 4px 0px 0px;
}
a.olControlZoomOut {
	border-radius: 0px 0px 4px 4px;
}
.olLayerGrid .olTileImage {
	transition:opacity 0.2s linear; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear;
}
.olTileImage {
	transform: translateZ(0); backface-visibility: hidden; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -o-transform: translateZ(0); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-perspective: 1000; -moz-perspective: 1000;
}
.olTileReplacing {
	display: none;
}
img.olTileImage {
	max-width: none;
}
